<!DOCTYPE html>
<html>
<head>
  <title>MixMaster</title>
  <title>MixMaster</title>
  <link href='css/bootstrap.css' rel='stylesheet'>
  <link href='css/main.css' rel='stylesheet'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

</body>
</html>
